<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add Product</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Add a New Product</h1>
    <br><br><br><br>
    <form action="{{ url_for('products.add_product') }}" method="POST" enctype="multipart/form-data">
        <label>Name:</label>
        <input type="text" name="name" required>
        <br><br><br>
        <label>Price:</label>
        <input type="number" name="price" step="0.01" required>
        <br><br><br>
        <label>Category:</label>
        <div class="category-container">
            <select name="category_id">
                {% for cat in categories %}
                <option value="{{ cat.id }}">{{ cat.name }}</option>
                {% endfor %}
            </select>

            <!-- Manage Categories Button Beside Dropdown -->
            <a href="{{ url_for('products.manage_categories') }}" class="btn category-btn">
                🔧 Manage Categories
            </a>
        </div>
        <br><br><br>
        <label>Image:</label>
        <input type="file" name="image" accept="image/*" required>
        <br>
        <br>
        <button type="submit" class="table-btn">Add Product</button>
    </form>

    <br>
    <br>
    <a href="{{ url_for('products.manage_products') }}" class="btn">Back to Manage Products</a>
    </select>
</body>
</html>